Assigment-4/flows (1).json
[{"id":"b0294e9c.af537","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"ea885391.3b8aa","type":"http in","z":"b0294e9c.af537","name":"","url":"/text","method":"get","upload":false,"swaggerDoc":"","x":120,"y":300,"wires":[["e1902503.189a68","98e71b5c.1086d8","610f5ba.4033ca4"]]},{"id":"98e71b5c.1086d8","type":"http response","z":"b0294e9c.af537","name":"","statusCode":"","headers":{},"x":640,"y":300,"wires":[]},{"id":"e1902503.189a68","type":"debug","z":"b0294e9c.af537","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":200,"wires":[]},{"id":"610f5ba.4033ca4","type":"ibmiot out","z":"b0294e9c.af537","authentication":"apiKey","apiKey":"9947bb2c.07dfa8","outputType":"evt","deviceId":"12345","deviceType":"VITDevice","eventCommandType":"","format":"json","data":"","qos":0,"name":"IBM IoT","service":"registered","x":340,"y":180,"wires":[]},{"id":"c9acc301.384cc","type":"ibmiot in","z":"b0294e9c.af537","authentication":"apiKey","apiKey":"9947bb2c.07dfa8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"VITDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":60,"wires":[["e1902503.189a68"]]},{"id":"9947bb2c.07dfa8","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]